# use this genshi version to fix error when, for eg, you send arguments like "date=True" check this https://genshi.edgewall.org/ticket/600
git+https://github.com/edgewall/genshi@stable/0.7.x
# git+https://github.com/aeroo/aeroolib.git
# waiting for PR https://github.com/aeroo/aeroolib/pull/12
git+https://github.com/adhoc-dev/aeroolib@master-fix-ods
git+https://github.com/aeroo/currency2text.git
